html{
    min-height: 100%;
}

#background1{
    background-image: url(./assets/6838774\ \(1\).webp);
    text-align: center;
    color: white;
    padding: 200px 100px;
    background-repeat: repeat-x;

}

#bg2{
    text-align: center;
    padding: 20px;

}

#button{
    border-radius: 12px;
    color: white;
    background-color: aqua;
    border: none;
    padding: 8px;
    font-weight: bold;
}

.heading1{
    color: black;
    opacity: 78%;
}

.header3{
    color: gray;
}
#bg3{
    color: white;
    text-align: center;
    background-image: url(./assets/1519798430700.jpg);
    padding: 200px 100px;
    background-repeat: repeat-x;
}

#button2{
    border-radius: 50%;
    font-size: 50px;
    padding: 30px;
    border: none;
    background-color: aqua;
    color: white;
}

#final{
    display: inline-block;
    width:1504px;
    height:120px;
    background-color: rgb(57, 64, 77);
    text-align: left;
    color: white;
    padding: 25px 100px;
}


#final > p{
    color:gray;
}